<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    {% if title %}
    <title>Estimator | {{ title }}</title>
    {% else %}
    <title>Estimator</title>
    {% endif %}

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg py-3 d-flex justify-content-between">
            <a class="navbar-brand" style="font-size: 40px;color: #eee;" href="{{ url_for('home') }}">Estimator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav mr-3">
                    <li class="nav-item active">
                        <a class="nav-link" style="color: #eee; font-size: 20px;" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #eee; font-size: 20px;" href="{{ url_for('estimation') }}">Estimations</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <form action="" method="POST" class="mt-4">
                        {{form.hidden_tag()}}
                        <fieldset class="form-group my-3">
                            <legend class="border-bottom my-4 text-center">Run Estimation</legend>

                            <div class="form-group my-3">
                                {{form.period_type.label(class="form-control-label")}}

                                {{form.period_type(class="form-control")}}

                            </div>
                            <div class="form-group my-3">
                                {{form.time_to_elapse.label(class="form-control-label")}}

                                {{form.time_to_elapse(class="form-control", placeholder="eg 10")}}

                            </div>
                            <div class="form-group my-3">
                                {{form.reported_cases.label(class="form-control-label")}}

                                {{form.reported_cases(class="form-control")}}

                            </div>
                            <div class="form-group my-3">
                                {{form.population.label(class="form-control-label")}}

                                {{form.population(class="form-control", placeholder="Total Population")}}

                            </div>
                            <div class="form-group my-3">
                                {{form.hospital_beds.label(class="form-control-label")}}

                                {{form.hospital_beds(class="form-control", placeholder="Total hospital beds")}}

                            </div>
                        </fieldset>
                        <div class="form-group text-center">
                            {{form.submit(class="btn mt-2 submit btn-outline-success")}}
                        </div>
                    </form>
                </div>
                <div class="col-md-4 my-3">
                    <div class="content-section">
                        <h2 class="my-4">Our Sidebar</h2>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light">How To Stay Safe</li>
                            <li class="list-group-item list-group-item-light">Announcements</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>