body {
  background-image: linear-gradient(
    to right,
    #031ca6 20%,
    #03178c 40%,
    #021373 60%,
    #0439d9 95%,
    #021859 100%
  );
}
h3{color: #021859;}
h2,
legend,
.form-control-label {
  color: orange !important;
}

h5{color: #021373;}
.card-hover{
    transition: all .2s;
}
.card-hover:hover {
  transform: scale(1.02) !important;
}
.navbar {
  color: white !important;
  box-shadow: 0 .1rem .2rem rgba(0,0,0,0.23);
}
.submit {
  width: 25%;
}

@media (max-width: 600px) {
  .submit {
    width: 75%;
  }
}
